 @media (max-width: 400px) {
                .carousel-inner1 .carousel-item > div {
                    display: none;
                }
                .carousel-inner1 .carousel-item > div:first-child {
                    display: block;
                }
            }

            .carousel-inner1 .carousel-item.active,
            .carousel-inner1 .carousel-item-next,
            .carousel-inner1 .carousel-item-prev {
                display: flex;
            }

            /* display 3 */
            @media (min-width: 768px) {

                .carousel-inner1 .carousel-item-right.active,
                .carousel-inner1 .carousel-item-next {
                    transform: translateX(33.333%);
                }

                .carousel-inner1 .carousel-item-left.active, 
                .carousel-inner1 .carousel-item-prev {
                    transform: translateX(-33.333%);
                }
            }

            .carousel-inner1 .carousel-item-right,
            .carousel-inner1 .carousel-item-left{ 
                transform: translateX(0);
            }

            .fakeimg1 {
                height: 200px;
                width:  180px;
                background: #aaa;
            }
            .fakeimg2 {
                height: 580px;
                width:  100%;
                background: #aaa;
            }
            .head {
                height: 100px;


            }
            .sticky {
                position:fixed;
                top:0;
                background-color: #b37700 !important;
                right: 0;
                left: 0;
                z-index: 1030;
            }

            .nosticky {
                position:fixed;
                top:0;
                background-color: transparent !important;
                right: 0;
                left: 0;
                z-index: 1030;
            }